<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hou.gmallmanage.mapper.PmsBaseAttrInfoMapper">
    <select id="SelectAttrValueListByValueId" resultMap="valueList">
        SELECT
        a.id as a_id,
        b.id as b_id,
        a.*,
        b.*
         from pms_base_attr_info a join	pms_base_attr_value b
        on a.id = b.attr_id
        <if test="join != null and join != ''">
            AND b.id IN
            <foreach item="item" collection="join.split(',')" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
--         $是拼接字符串 #是赋值

    </select>
    <resultMap id="valueList" type="com.hou.gmall.bean.PmsBaseAttrInfo" autoMapping="true">
        <id property="id" column="a_id"></id>

        <collection property="attrValueList" ofType="com.hou.gmall.bean.PmsBaseAttrValue" autoMapping="true">
            <id property="id" column="b_id"></id>


        </collection>

    </resultMap>


</mapper>